<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>HelloWorldJSP</display-name>
    <servlet>
        <servlet-name>SignupServletControl</servlet-name>
        <servlet-class>servlet_controller.SignupServletControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ven_composeServlet</servlet-name>
        <servlet-class>servlet_controller.ven_composeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>school_schServlet</servlet-name>
        <servlet-class>servlet_controller.school_schServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stu_edit_proServlet</servlet-name>
        <servlet-class>servlet_controller.stu_edit_proServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>school_stuServlet</servlet-name>
        <servlet-class>servlet_controller.school_stuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginpageServlet</servlet-name>
        <servlet-class>servlet_controller.loginpageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editingServlet</servlet-name>
        <servlet-class>servlet_controller.editingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>msg_descrptionServlet</servlet-name>
        <servlet-class>servlet_controller.msg_descrptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Coll_reqServlet</servlet-name>
        <servlet-class>servlet_controller.Coll_reqServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Msg_Decline</servlet-name>
        <servlet-class>servlet_controller.Msg_Decline</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ven_Editbean</servlet-name>
        <servlet-class>bean.Ven_Editbean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stu_reg_formServlet</servlet-name>
        <servlet-class>servlet_controller.stu_reg_formServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VenEditServ</servlet-name>
        <servlet-class>servlet_controller.VenEditServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editing_for_venServlet</servlet-name>
        <servlet-class>servlet_controller.Editing_for_venServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebVisitingSer</servlet-name>
        <servlet-class>servlet_controller.WebVisitingSer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetServ</servlet-name>
        <servlet-class>servlet_controller.ForgetServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetServ2</servlet-name>
        <servlet-class>servlet_controller.ForgetServ2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>servlet_controller.UploadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Server_1Serv</servlet-name>
        <servlet-class>servlet_controller.Server_1Serv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Server_2Serv</servlet-name>
        <servlet-class>servlet_controller.Server_2Serv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Server_3Serv</servlet-name>
        <servlet-class>servlet_controller.Server_3Serv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Server_4Serv</servlet-name>
        <servlet-class>servlet_controller.Server_4Serv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImageVen</servlet-name>
        <servlet-class>servlet_controller.UploadImageVen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImageStu</servlet-name>
        <servlet-class>servlet_controller.UploadImageStu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>School_SchServ</servlet-name>
        <servlet-class>servlet_controller.School_SchServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServletControl</servlet-name>
        <url-pattern>/SignupServletControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>msg_descrptionServlet</servlet-name>
        <url-pattern>/msg_descrptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Coll_reqServlet</servlet-name>
        <url-pattern>/Coll_reqServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Msg_Decline</servlet-name>
        <url-pattern>/Msg_Decline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ven_Editbean</servlet-name>
        <url-pattern>/Ven_Editbean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VenEditServ</servlet-name>
        <url-pattern>/VenEditServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editing_for_venServlet</servlet-name>
        <url-pattern>/Editing_for_venServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebVisitingSer</servlet-name>
        <url-pattern>/WebVisitingSer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetServ</servlet-name>
        <url-pattern>/ForgetServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>school_stuServlet</servlet-name>
        <url-pattern>/school_stuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>school_schServlet</servlet-name>
        <url-pattern>/school_schServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editingServlet</servlet-name>
        <url-pattern>/editingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginpageServlet</servlet-name>
        <url-pattern>/loginpageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stu_edit_proServlet</servlet-name>
        <url-pattern>/stu_edit_proServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ven_composeServlet</servlet-name>
        <url-pattern>/ven_composeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stu_reg_formServlet</servlet-name>
        <url-pattern>/stu_reg_formServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetServ2</servlet-name>
        <url-pattern>/ForgetServ2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/UploadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Server_1Serv</servlet-name>
        <url-pattern>/Server_1Serv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Server_2Serv</servlet-name>
        <url-pattern>/Server_2Serv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Server_3Serv</servlet-name>
        <url-pattern>/Server_3Serv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Server_4Serv</servlet-name>
        <url-pattern>/Server_4Serv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImageVen</servlet-name>
        <url-pattern>/UploadImageVen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImageStu</servlet-name>
        <url-pattern>/UploadImageStu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>School_SchServ</servlet-name>
        <url-pattern>/School_SchServ</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>
